{% extends "/global/main.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %} Registration {% endblock %}

{% block content %}

  {% include "/global/navbar.twig" %}
  
  <h1>This is the index page !!</h1>

  <div>
    Welcome to {{ title }} !!!
    We have a message for you: {{ message }}
  </div>
{% endblock %}