{% extends "/global/main.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %} Connection {% endblock %}

{% block content %}
  <h1>This is the connection page !!</h1>
{% endblock %}