{% extends "/global/main.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %} Registration {% endblock %}

{% block content %}
  <h1>This is the registration page !!</h1>
{% endblock %}