{% extends "/global/main.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %} Food list {% endblock %}

{% block content %}

  {% include "/global/navbar.twig" %}
  
  <h1>This is the food page !!</h1>
{% endblock %}