{% extends "/global/main.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %} Athletes list {% endblock %}

{% block content %}

  {% include "/global/navbar.twig" %}

  <h1>This is the athletes page !!</h1>
{% endblock %}