{% extends "/global/main.twig" %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block title %} Athletes list {% endblock %}

{% block content %}
  <h1>This is the athletes page !!</h1>
{% endblock %}